@font-face {
    font-family: 'halifaxw03-regular';
    src: url('fonts/halifax_w03_regular-webfont.woff2') format('woff2'),
         url('fonts/halifax_w03_regular-webfont.woff') format('woff'),
         url("fonts/halifaxw03-regular.ttf") format("truetype"),
         url("fonts/halifaxw03-regular.otf") format("opentype");
}

@font-face {
    font-family: 'artico';
    src: url('fonts/artico-webfont.woff2') format('woff2'),
         url('fonts/artico-webfont.woff') format('woff'),
         url("fonts/artico.ttf") format("truetype"),
         url("fonts/artico.otf") format("opentype");
}

@font-face {
    font-family: 'textanarrow';
    src: url('fonts/textanarrow-webfont.woff2') format('woff2'),
         url('fonts/textanarrow-webfont.woff') format('woff'),
         url("fonts/textanarrow.ttf") format("truetype"),
         url("fonts/textanarrow.otf") format("opentype");
}


.wrapper {
   width: 550px;
   display: flex;
   align-self: center;
   display: flex;
   flex-direction: column;
   box-shadow: 1px 5px 8px -1px #808080;
   border-radius: 25px;
}


.top {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 50px 40px 0 40px;
    height: 400px;
    background-color: white;
    text-align: left;
    font-size: 29px;
    line-height: 1.6;
    font-family: 'halifaxw03-regular';
    color: #555555;
}

.circle {
    background-color: white;
    height: 174px;
    width: 174px;
    z-index: 2;
    margin: -87px 0 -87px 0;
    border-radius: 50%;
    align-self: center;
}

.photo {
    height: 160px;
    width: 160px; 
    padding-left: 7px;
    padding-top: 7px;
    
}

.bottom {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-top: 0;
    padding: 25px;
    height: 185px;
    text-align: center;
    background-color: #686de0;
    color: white;
    z-index: 1;
}

h2 {
    font-family: 'artico';
    letter-spacing: 3px;
    font-size: 26px;
    margin: 90px 0 15px 0;
}

p {
    color: #b3b6eb;
    font-family: 'textanarrow';
    font-size: 25px;
    letter-spacing: 2px;
    margin: 10px 0 5px 0;
}

