@font-face {
    font-family: 'halifaxw03-regular';
    src: url('fonts/halifax_w03_regular-webfont.woff2') format('woff2'),
         url('fonts/halifax_w03_regular-webfont.woff') format('woff'),
         url("fonts/halifaxw03-regular.ttf") format("truetype"),
         url("fonts/halifaxw03-regular.otf") format("opentype");
}

@font-face {
    font-family: 'artico';
    src: url('fonts/artico-webfont.woff2') format('woff2'),
         url('fonts/artico-webfont.woff') format('woff'),
         url("fonts/artico.ttf") format("truetype"),
         url("fonts/artico.otf") format("opentype");
}

@font-face {
    font-family: 'textanarrow';
    src: url('fonts/textanarrow-webfont.woff2') format('woff2'),
         url('fonts/textanarrow-webfont.woff') format('woff'),
         url("fonts/textanarrow.ttf") format("truetype"),
         url("fonts/textanarrow.otf") format("opentype");
}

.superwrapper {
    display: flex;
    justify-content: center;
}


.wrapper {
   width: 42.969vw;
   display: flex;
   align-self: center;
   display: flex;
   flex-direction: column;
   box-shadow: 1px 5px 8px -1px #808080;
   border-radius: 1.953vw;
   margin-bottom: 1.953vw;
}


.top {
    border-top-left-radius: 1.953vw;
    border-top-right-radius: 1.953vw;
    padding: 3.906vw 3.125vw 0 3.125vw;
    height: 31.250vw;
    background-color: white;
    text-align: left;
    font-size: 2.266vw;
    line-height: 1.6;
    font-family: 'halifaxw03-regular';
    color: #555555;
}

.circle {
    background-color: white;
    height: 13.594vw;
    width: 13.594vw;
    z-index: 2;
    margin: -6.797vw 0 -6.797vw 0;
    border-radius: 50%;
    align-self: center;
}

.photo {
    height: 12.5vw;
    width: 12.5vw; 
    padding-left: 0.547vw;
    padding-top: 0.547vw;
    
}

.bottom {
    border-bottom-left-radius: 1.953vw;
    border-bottom-right-radius: 1.953vw;
    margin-top: 0;
    padding: 1.953vw;
    height: 14.453vw;
    text-align: center;
    background-color: #686de0;
    color: white;
    z-index: 1;
}

h2 {
    font-family: 'artico';
    letter-spacing: 0.234vw;
    font-size: 2.031vw;
    margin: 7.031vw 0 1.172vw 0;
}

p {
    color: #b3b6eb;
    font-family: 'textanarrow';
    font-size: 1.953vw;
    letter-spacing: 0.156vw;
    margin: 0.781vw 0 0.391vw 0;
}


