body {
  background-color: black;
  color: white;
  margin: 0;
}
  
.buttons_wrapper {
    font-family: 'textanarrow';

    display: flex;
    flex-direction: column;
    align-self: flex-end;

    margin-right: -230px;
}

h1 {
    text-align: center;
}

a {
    color: white;
    font-size: 15px;
}

.button_text {
    padding-top: 15px;
}


.blog_button {
    background-color: #e17b77;
    
    display: flex;
    text-align: left;
    height: 50px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
     
    width: 231px;
    margin-right: -231px;

    transition: transform 400ms;
    transition-timing-function: ease-in-out;
}

.blog_button:hover {
    transform: translateX(-165px)
}

.twitter_button {
    
    background-color: #00aced;
    
    display: flex;
    align-self: flex-end;
    text-align: left;
    height: 50px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
     
    width: 231px;
    margin-right: -231px;

    transition: transform 400ms;
    transition-timing-function: ease-in-out;
}

.twitter_button:hover {
    transform: translateX(-165px)
}


.linkedin_button {
    background-color: #007bb6;
    
    display: flex;
    align-self: flex-end;
    text-align: left;
    height: 50px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
     
    width: 231px;
    margin-right: -231px;

    transition: transform 400ms;
    transition-timing-function: ease-in-out;
}

.linkedin_button:hover {
    transform: translateX(-165px)
}

.fb_button {
    background-color: #3b5998;
    
    display: flex;
    align-self: flex-end;
    text-align: left;
    height: 50px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
     
    width: 231px;
    margin-right: -231px;

    transition: transform 400ms;
    transition-timing-function: ease-in-out;
}

.fb_button:hover {
    transform: translateX(-165px)
}

.github_button {
    background-color: #333;
    
    display: flex;
    align-self: flex-end;
    text-align: left;
    height: 50px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
     
    width: 231px;
    margin-right: -231px;

    transition: transform 400ms;
    transition-timing-function: ease-in-out;
}

.github_button:hover {
    transform: translateX(-165px)
}

.icons {
    height: 25px;
    width: 25px;
    margin: 13px;
}
